---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact — Jeffrey Boruszak" description="Contact Jeffrey Boruszak.">
<h1 class="center"><a href="mailto:jeffrey.boruszak@gmail.com">Email</a></h1>
</BaseLayout>
