---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionGlyph from '../components/SectionGlyph.astro';
---
<BaseLayout title="Links — Jeffrey Boruszak" description="Official links for Jeffrey Boruszak.">

   <h3 align="center">Social Media</h3>

<h5 class="card-title"><a href="https://ouroboruszak.substack.com/">Substack</a></h5>

<h5 class="card-title"><a href="https://bsky.app/profile/ouroboruszak.bsky.social">BlueSky Social</a></h5>

<h5 class="card-title"><a href="https://www.instagram.com/jboruszak/">Instagram</a></h5>

<h5 class="card-title"><a href="https://www.linkedin.com/in/boruszak/">LinkedIn</a></h5>


<SectionGlyph />
  
    <h3 align="center">Videos</h3>

<h5 class="card-title"><a href="https://www.youtube.com/watch?v=54-rhCmh_GQ">"Bootstrap IA development with in-house usability testing," WriteTheDocs Atlantic, 2023</a></h5>

<SectionGlyph />
  
    <h3 align="center">Mentions</h3>

            <h5 class="card-title"><a href="https://jacket2.org/commentary/jeff-boruszak">Jeffrey Boruszak on <i>Jacket2</i></a></h5>

            <h5 class="card-title"><a href="https://www.poetryfoundation.org/harriet/tag/jeff-boruszak/">Jeffrey Boruszak on <i>Harriet the Blog</i></a></h5>

<SectionGlyph />

    <h3 align="center">Features and Readings</h3>

            <h5 class="card-title"><a href="http://media.sas.upenn.edu/pennsound/groups/Principal-Hand-Presents/2012-04-17/PHP-12_01_Jeffrey-Boruszak_4-17-2012.mp3">Jeffrey Boruszak on <i>PennSound</i></a></h5>

            <h5 class="card-title"><a href="https://thepenngazette.com/a-model-for-the-writing-life/">Jeffrey Boruszak in <i>The Penn Gazette</i></a></h5>

</BaseLayout>